/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
	width: 100%;
	display: block;
}

body {
	background-color: rgb(243, 243, 246); /* Not totally white. */
	color: rgb(57, 50, 50);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
    font-style: italic;
}

h1 {
	background-color: rgb(179, 180, 196);
	color: rgb(244, 244, 244); /* Same as body background. */
	font-size: 30pt;
	padding: 1em 3em 1em; /* You want three values. */
	font-weight: bold;
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    font-style: normal;
}

h2 {
	margin: 0 0 3em 0;
	background-color: rgb(179, 180, 196);
	color: rgb(244, 244, 244); /* Same as body background. */
	font-size: 20pt;
	padding: 1em 3em 1em; /* You want three values. */
	font-weight: bold;
	font-family: serif;
    font-style: normal;
}

h3 {
	margin: 1em 0em 1em; /*Three values again. You got the idea.*/
	font-size: 15pt;
	color: rgb(202, 52, 80);
	font-weight: bold;
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
	letter-spacing: .1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: ____ ____ ____;
}

h4 {
	font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
}

p.description {
	font-style: italic;
}

p.price {
	color: rgb(161, 56, 77);
    font-style: normal;
}

ul {
	margin: 0.5em 0em 1em 0em;
}

li { 
	margin: ____ ____;
	list-style-type: ____;
}


